<div class="cont">
  <header>
    <app-comp1></app-comp1>
    <app-comp2></app-comp2>
  </header>
  <p>From component1: {{ comp1 }}</p>
  <p>From component2: {{ comp2 }}</p>
  <p>ClientX = {{coordX}}</p>
  <p>KeyCode : {{keyUpCode}}</p>
  <!-- <div class="if" *ngIf="busService.text$.asObservable()  | async as text">
  </div> -->
  
    <div class="for" *ngFor="let item of arrValue ">
      <p>{{item}}</p>
    </div>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .cont {
    width: 99vw;
    height: 98vh;
  }
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 99vw;
    height: 50vh;
    font-size: 3vh;
    background-color: gray;
    color: red;
  }
  p {
    font-size: 20px;
  }
</style>
